<html>
<head> <title>SNACK MAKER</title>
</head>
<body>
  <h1>hello</h1>
  <form>
    snack name: <input name="snackName" type="text">
  </br>
    snack rating (split with commas only): <input name="snackRating" type="text">
  </br>
    snack quantity: <input name="snackQuantity" type="text">
  </br>
    snack calories: <input name="snackCalories" type="text">
  </br>
    expiration date (in MM/DD/YY format): <input name="snackExp" type="text">
  </br>
  <input value="thicc" type="submit">
  </form>
</html>
