<html>
<head></head>
<body>
  <div class="store_nav">
        <div id="disappear_ul">
          <div id="about">
            <a href="/about-us">About us</a>
          </div>
          <div id="home">
            <a href="/">Home</a>
          </div>
          <div id="recipes">
            <a href="/restaurants">Recipes</a>
          </div>
          <div id="map">
            <a href="/restaurants">Map</a>
          </div>
          <div id="fridge">
            <a href="/restaurants">My Refrigerator</a>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>

</body>
</html>
